<html>

<head>
<title>Practical machine Learning - Final report</title>
</head>

<body>

<p>This is the final report for the coursera practical machine learning course by Remo E. 

A random forrest model was trained. The model was validated using k-folds cross validation. Considerations of accuracy and out of sample error rate are made. Then the 20 cases from the test data set are predicted.  </p>

<p>Please see the attached R file for detailed information. I added comments for better understanding. </p>

<p>The accuracy of the random forrest model can be seen in the confusion matrix 0.995. This can be considered an accurate model, hence I decided to work with it for this project.</p>


<p>This model was then used to predict the 20 cases for the final quiz: B A B A A E D B A A B C B A E E A B B B</p>






</body>
</html>
